In [1]:
# Básicos
import numpy as np
import pandas as pd
import scipy.stats as stats

# Graficas
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import scatter_matrix

# Preprocesamiento
from sklearn.preprocessing import PolynomialFeatures, StandardScaler, MinMaxScaler

# Selección del modelo
from sklearn.model_selection import train_test_split, KFold, GridSearchCV, cross_val_score

from sklearn.metrics import (r2_score, mean_squared_error, accuracy_score, precision_score, recall_score,
                             f1_score, roc_auc_score, roc_curve, precision_recall_curve)

# Modelos
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, LogisticRegression

# Habilitar la recarga de archivos modificados
%load_ext autoreload
%autoreload 2

# Graficas en linea
%matplotlib inline

In [3]:
df = pd.read_excel('Listado_Refrescos.xlsx', sheet_name='Ventas por Cliente Marzo 22')
df.head()

,Ranking,Zona,Subterritorio,CEDI,CustomerId,Cliente,Marca,Empaque,Año/Mes,Cajas Unidad,Cajas Fisicas
0,2,Occidente,Tecoman,3805,500468736,ABARROTES ALVAREZ,COCA-COLA,250 ML. NR PET,202203,4.183343,3.9585
1,2,Occidente,Tecoman,3805,500468736,ABARROTES ALVAREZ,COCA-COLA,400 ML NR,202203,20.148072,11.9170
2,2,Occidente,Tecoman,3805,500468736,ABARROTES ALVAREZ,COCA-COLA,600 ML NR,202203,551.284734,217.3750
3,2,Occidente,Tecoman,3805,500468736,ABARROTES ALVAREZ,COCA-COLA LIGHT,600 ML NR,202203,1.902000,0.7500
4,2,Occidente,Tecoman,3805,500468736,ABARROTES ALVAREZ,COCA-COLA SIN AZUCAR,600 ML NR,202203,4.860978,3.8335

In [4]:
df.drop(df.index[(df["Marca"] == "DEL VALLE Y NADA")],axis=0,inplace=True)

In [5]:
df.drop(df.index[(df["Marca"] == "FANTA SENZAO")],axis=0,inplace=True)
df.drop(df.index[(df["Marca"] == "SPRITE SIN AZUCAR")],axis=0,inplace=True)
df.drop(df.index[(df["Marca"] == "COCA-COLA LIGHT SIN CAFEINA")],axis=0,inplace=True)
df.drop(df.index[(df["Marca"] == "TOPO CHICO SANGRIA")],axis=0,inplace=True)
df.drop(df.index[(df["Marca"] == "SENZAO")],axis=0,inplace=True)
df.drop(df.index[(df["Marca"] == "TOPO CHICO SANGRIA LIGHT")],axis=0,inplace=True)

In [6]:
df['Marca'].unique()

array(['COCA-COLA', 'COCA-COLA LIGHT', 'COCA-COLA SIN AZUCAR', 'FANTA',
       'FRESCA', 'SIDRAL MUNDET', 'SPRITE', 'JOYA', 'MIXTOS'],
      dtype=object)

In [7]:
df2 = pd.read_excel('Listado_Refrescos.xlsx', sheet_name='Ventas por Cliente Abril 22')
df2.head()

,Ranking,Zona,Subterritorio,CEDI,CustomerId,Cliente,Marca,Empaque,Año/Mes,Cajas Unidad,Cajas Fisicas
0,1,Occidente,San Rafael,3803,500567178,ADAN MORENO RODRIGUEZ,SPRITE,600 ML NR,202204,1.268000,0.500
1,2,Occidente,Tecoman,3805,500468736,ABARROTES ALVAREZ,COCA-COLA,400 ML NR,202204,31.982972,18.917
2,2,Occidente,Tecoman,3805,500468736,ABARROTES ALVAREZ,COCA-COLA,600 ML NR,202204,688.231595,271.374
3,2,Occidente,Tecoman,3805,500468736,ABARROTES ALVAREZ,COCA-COLA LIGHT,600 ML NR,202204,1.268000,0.500
4,2,Occidente,Tecoman,3805,500468736,ABARROTES ALVAREZ,COCA-COLA SIN AZUCAR,250 ML. NR PET,202204,0.528400,0.500

In [10]:
df2.drop(df2.index[(df2["Marca"] == "DEL VALLE Y NADA")],axis=0,inplace=True)
df2.drop(df2.index[(df2["Marca"] == "FANTA SENZAO")],axis=0,inplace=True)
df2.drop(df2.index[(df2["Marca"] == "SPRITE SIN AZUCAR")],axis=0,inplace=True)
df2.drop(df2.index[(df2["Marca"] == "COCA-COLA LIGHT SIN CAFEINA")],axis=0,inplace=True)
df2.drop(df2.index[(df2["Marca"] == "TOPO CHICO SANGRIA")],axis=0,inplace=True)
df2.drop(df2.index[(df2["Marca"] == "SENZAO")],axis=0,inplace=True)
df2.drop(df2.index[(df2["Marca"] == "TOPO CHICO SANGRIA LIGHT")],axis=0,inplace=True)

In [11]:
df2['Marca'].unique()

array(['SPRITE', 'COCA-COLA', 'COCA-COLA LIGHT', 'COCA-COLA SIN AZUCAR',
       'FANTA', 'FRESCA', 'SIDRAL MUNDET', 'JOYA', 'MIXTOS'], dtype=object)

In [14]:
df2.to_excel('ListaRefrescosVentaAbril.xlsx', sheet_name='Ventas Abril 2022', index=False)

In [15]:
df.to_excel('ListaRefrescosVentaMarzo.xlsx', sheet_name='Ventas Marzo 2022', index=False)